.view-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .user-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
  }
  .div-filters {
    display: flex;
    width: 90%;
    justify-content: end;

    .form-field {
      margin: 8px;
    }
  }

  .user-button {
    width: 90%;
    display: flex;
    justify-content: end;
  }

  .total-itens {
    width: 100%;
    margin-left: 24px;

    span {
      font-size: 16px;
    }
  }

  button {
    font-size: 18px;
    margin-right: 24px;
    height: 56px;
    background-color: #f2f2f2;
    color: black;
  }

  .error-message {
    color: red;
  }
  .sucess-message {
    color: green;
  }
}