<div class="card">
  <div class="div-icons" *ngIf="task">
    <mat-icon 
      aria-hidden="false" 
      aria-label="Editar tarefa" 
      fontIcon="edit"
      (click)="editTaskInfo(task)">
    </mat-icon>
    <mat-icon 
      aria-hidden="false" 
      aria-label="Deletar tarefa" 
      fontIcon="delete"
      (click)="deleteTaskId(task.id)">
    </mat-icon>
  </div>
  <div class="div-icons" *ngIf="user">
    <mat-icon 
      aria-hidden="false" 
      aria-label="Editar usuário" 
      fontIcon="edit"
      (click)="editUserInfo(user)">
    </mat-icon>
    <mat-icon 
      aria-hidden="false" 
      aria-label="Deletar usuário" 
      fontIcon="delete"
      (click)="deleteUserId(user.id)">
    </mat-icon>
  </div>
  <div class="task-info" *ngIf="task">
    <h2>{{ task.title }}</h2>
    <h3>{{ task.description }}</h3>
    <h3>Status: {{ getFormattedStatus() }}</h3>
    <h3>Responsável: {{ task.responsibleName }}</h3>
    <h4>Data de criação: {{ formatISODate(task.createDate) }}</h4>
    <h4>Data limite: {{ formatISODate(task.endDate) }}</h4>
  </div>
  <div class="user-info" *ngIf="user">
    <h2>Nome: {{ user.username }}</h2>
    <h3>Admin: {{ user.admin }}</h3>
  </div>
</div>