<h1 mat-dialog-title>{{isEditing ? 'Editar Usuário' : 'Cadastro de Usuário'}}</h1>
<div mat-dialog-content>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="registrationForm.get('title')?.hasError('required')">
        Título é obrigatório
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" rows="4"></textarea>
      <mat-error *ngIf="registrationForm.get('description')?.hasError('required')">
        Desrição é obrigatório
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Data limite</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
      <mat-error *ngIf="registrationForm.get('endDate')?.hasError('required')">
        Data limite é obrigatório
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="pendente">Pendente</mat-option>
        <mat-option value="concluída">Concluída</mat-option>
        <mat-option value="em andamento">Em andamento</mat-option>
      </mat-select>
      <mat-error *ngIf="registrationForm.get('status')?.hasError('required')">
        Status é obrigatório
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Responsável</mat-label>
      <mat-select formControlName="responsible">
        <mat-option [value]="user.id" *ngFor="let user of data.users">{{ user.username }}</mat-option>
      </mat-select>
      <mat-error *ngIf="registrationForm.get('responsible')?.hasError('required')">
        Responsável é obrigatório
      </mat-error>
    </mat-form-field>
  
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancelar</button>
      <button mat-button type="submit" [disabled]="registrationForm.invalid">
        {{isEditing ? 'Salvar Alterações' : 'Criar tarefa'}}
      </button>
    </div>
  </form>
</div>
